* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.sub-container {
    display: flex;
    flex-direction: row;
}
.grid-element {
    height: 25px;
    width: 25px;
    background-color: white;
    color: white;
    outline: solid black;
}
.grid-element:hover {
    background-color: black;
}